* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

.container {
    gap: 10px;
    padding: 10px;
}
.songinfo{
    width: 233px;
}

.left {
    width: 370px;
    max-width: 100%;

    margin: 3px;
}

.right {
    width: 75vw;
   
    border-radius: 5px;
    margin: 3px;
    background-color: #212121;
    position: relative;
    height: 93vh;
}

.container {
    display: flex;
    background-color: black;
    color: white;
    min-height: 100vh;

}

.library {
    background-color: #121212;
    border-radius: 5px;
    padding: 10px;
    height: 90vh;
    /* height: 100%; */
flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}


.library-1 {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.library-1 p {
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#create {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #292929;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.playlist {
    background-color: #1F1F1F;
    border-radius: 7px;
    padding: 20px;
    margin-top: 40px;


}

.playlist p {
    font-size: 16px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.playlist span {
    font-size: 14px;
    padding-bottom: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

#playlist {
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 8px 14px 8px 14px;
    border-radius: 25px;
}

.podcast {
    margin-top: 25px;
}

.footer a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 13px;
    font-weight: 400;
    



}

/* .footer {

    display: flex;
    flex-wrap: wrap;

    gap: 25px;
    padding: 30px;
    
    
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    
} */

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
    margin-top: auto;   /* pushes footer to bottom */
}


.trending {
    display: flex;
    justify-content: space-between;
    padding: 15px 28px 15px 28px;
}

.trending p {
    font-size: 24px;
    font-weight: 900;
}

#show-all {
    border: none;
    background-color: #212121;
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 700;
}

.trending p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#show-all:hover {
    text-decoration: underline;
    cursor: pointer;
}
.cards-container{
    padding: 0px 28px 0px 28px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    width: 100%;
    
}
.card{
    height: auto;
    width: 178px;
    background-color: #1C1C1C;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    
    
}
.spotify-img{
    object-fit: cover;
    border-radius: 10px;
   /* margin: 5px; */
    object-position: center;
    width: 100%;
}
.trending-songs-title{
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
    

}
.trending-songs-singers{
font-size: 15px;
font-weight: 500;
padding: 0px 5px 0px 5px;
color: rgb(179, 179, 179);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0.5px;



}
.play {
    width: 40px;
    height: 40px;
    background-color: #2ecc71; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 140px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    background-color: rgb(58, 58, 58);
    transition: all 1s;
    cursor: pointer;
    .play{
        opacity: 1;
    }
}

.info div{
    word-break: break-all;
}
.playbar{
    position:absolute;
    bottom: 0px;
    background-color: rgb(41, 38, 38);

    padding: 12px;
    width: 85%;
    filter: invert(1);
    background: #dad5d5;
    width: 67vw;
    border-radius: 13px;
    height: 40px;
    
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.songbuttons img{
    cursor: pointer;
}
.song-list ul{
    padding: 0px 12px;
}
.song-list ul li{
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid rgb(59, 59, 59);
    margin: 12px 0px;
    padding: 13px;
    border-radius: 3px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    color: rgb(194, 194, 194);

}
.invert{
filter:invert(1);
}
.playnow{
    display:flex;

    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
    
}
.song-list{
    overflow-y: auto;
    overflow-x: hidden;
    
    flex: 1;
    max-height: 65vh;

}
.song-list .info{
    font-size: 13px;
    width: 344px;
}
.seekbar{
    height: 4px;
    width: 98%;
    background:  black;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}
.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}
.volume:hover{
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.volume-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{

    color: black;
    padding: 0px 12px;
    width: 250px;
}
.songtime{
    width: 125px;
    color: black ;
}


.hamburger{
    display: none;
    filter: invert(1);
}
.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
/* .close{
    display: none;
} */
.close svg{
    stroke: white;
    cursor: pointer;
}


/* @media (max-width :1100px){
    .left{

background-color: black ;
    position: absolute;
    left: -120%;
    transition: all .3s; 
    z-index: 1;
    width: 370px;

}
.close{
    display: block;
}




.right{
width: 100vw;
}
.cards-container{
    justify-content: center;
}
.card{
    width: 90vw;
}

.playbar{
width: 88vw;
}
.seekbar{
    width: 90%;
}
.hamburger{
    display: block;
}
} */

.range input:hover{
    cursor: pointer;

}
.close{
    display: none;
}

@media (max-width: 1100px) {

    .left {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 280px;
        transition: 0.3s ease;
        z-index: 10;
    }

    .left.active {
        left: 0;
    }


    .right {
        width: 100%;
    }


    .hamburger {
        display: block;
    }
    .buttons{
    display: flex;
    justify-content: space-between;
}

    .close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1000;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        justify-content: center;
    }
    .card{
        width: 75vw;
    }
    .trending-songs-title{
        font-size: 42px;
        text-align: center;
    }
    .trending-songs-singers{
        font-size: 32px;
        text-align: center;
    }

    .playbar {
        height: 70px;
        width: 90%;
    }

    .abovebar {
        flex-direction: column;
        gap: 6px;
        align-items: center;
    }
    .play{
        display: none;
    }

}
